@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

body {
  font-family: "Poppins", sans-serif;
}

.input {
  @apply w-full border p-3 rounded-xl;
}

.btn {
  @apply bg-orange-500 hover:bg-orange-600 text-white px-6 py-2 rounded-xl;
}

.card {
  @apply bg-white shadow-xl rounded-2xl p-6;
}
